<!DOCTYPE html>
<html>
  <head>
    <title>Change Password</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/icon.png" type="image/x-icon" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-100">
    <div class="min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Change Password</h2>
      </div>
      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <a href="/player" class="text-white bg-green-600 px-4 py-1 rounded font-medium mr-4"
          >Back</a
        >
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
          <form class="space-y-6" action="/change-password" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div>
              <label for="currentPassword" class="block text-sm font-medium text-gray-700"
                >Current Password:</label
              >
              <div class="mt-1">
                <input
                  type="password"
                  id="currentPassword"
                  name="currentPassword"
                  class="input-field border border-blue-300"
                  required />
              </div>
            </div>

            <div>
              <label for="newPassword" class="block text-sm font-medium text-gray-700"
                >New Password:</label
              >
              <div class="mt-1">
                <input
                  type="password"
                  id="newPassword"
                  name="newPassword"
                  class="input-field border border-blue-300"
                  required />
              </div>
            </div>

            <div>
              <label for="confirmPassword" class="block text-sm font-medium text-gray-700"
                >Confirm New Password:</label
              >
              <div class="mt-1">
                <input
                  type="password"
                  id="confirmPassword"
                  name="confirmPassword"
                  class="input-field border border-blue-300"
                  required />
              </div>
            </div>

            <div>
              <button
                type="submit"
                class="btn-primary text-white bg-green-600 px-5 py-1.5 rounded font-medium">
                Change Password
              </button>
            </div>
          </form>
          <% if (messages && messages.error && messages.error.length> 0) { %> <%
          messages.error.forEach(function(error) { %>
          <li><%= error %></li>
          <% }); %> <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
