<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Session Recommendations</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <div class="container mx-auto px-4 py-8">
      <div class="flex items-center justify-between mb-4">
        <a href="/player" class="text-gray-800 hover:text-blue-600">Back</a>
        <a
          href="/signout"
          class="bg-blue-500 text-white px-4 py-2 rounded font-medium shadow-md hover:bg-blue-600"
          >Sign Out</a
        >
      </div>
      <div class="bg-white rounded-lg shadow-lg px-8 py-6">
        <!-- Session Recommendations -->
        <h1 class="text-2xl font-bold mb-4">Session Recommendations</h1>
        <div>
          {% if sessions %}
          <ul>
            {% for session in sessions %}
            <li class="mb-4">
              <div class="bg-white rounded-lg shadow px-8 py-6">
                <p class="font-bold text-gray-800">Sports Name: {{ session.sport_name }}</p>
                <p class="font-bold text-gray-800">Venue: {{ session.venue }}</p>
                <p class="font-bold text-gray-800">
                  Number of Teams: {{ session.number_of_teams }}
                </p>
                <p class="font-bold text-gray-800">Time: {{ session.time }}</p>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p class="text-gray-800">No sessions found.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
